[Unit]
Description=Bluetooth Service
After=network.target

[Service]
ExecStart=/usr/bin/bluetoothctl power on
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
