[IPv6]
Enabled=true

[Security]
EAP-Method=PEAP
EAP-Identity={{ wifi_identity }}
EAP-PEAP-Phase2-Method=MSCHAPV2
EAP-PEAP-Phase2-Identity={{ wifi_identity }}
EAP-PEAP-Phase2-Password={{ wifi_password }}