/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url("overrides.css");

:root {
    --uc-transition: 200ms ease-in-out;
    
    --uc-content-margin: 10px;
    --uc-sidebar-margin: 4px;
    --uc-content-radius: 5px;
    --uc-radius: 5px;
     
    &[uidensity="compact"] {
        --uc-content-margin: 8px;
        --uc-sidebar-margin: 3px;
    }
    
    /* sidebar vars */
    &[titlepreface*="-"] {
        --uc-sidebar-hover-width: 200px;
        --uc-autohide-sidebar-delay: 30ms;
    }
    
    --uc-sidebar-width: 40px;
    &[uidensity=compact] {
        --uc-sidebar-width: 34px;
    }
}
