[Unit]
Description=Discord
After=network.target

[Service]
ExecStart=/usr/bin/discord --start-minimized
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
