#root.root {--bookmarks-indent: 12px;}
#root.root {--search-font-size: 1rem;}
#root.root {--tabs-font: ;}
#root.root {--tabs-indent: 7px;}
#root.root {--tabs-normal-bg: #0a0a0c;}
#root.root {--tabs-activated-bg: #1A1920;}
#root.root {--frame-bg: #0d0c10;}
#root.root {--general-margin: 4px;}
#root.root {--toolbar-bg: #1A1920;}


#root.root {--ctx-menu-font: ;}
#root.root {--bookmarks-bookmark-font: ;}
#root.root {--bookmarks-folder-font: ;}

