/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

@import url("icons.css");
@import url("misc.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("toolbar.css");
@import url("urlbar.css");
@import url("window-controls.css");

body {
    background-color: var(--uc-bg) !important;
}

/* remove bg from things */
#nav-bar,
#navigator-toolbox,
#appcontent,
splitter.devtools-horizontal-splitter, 
.devtools-side-splitter,
#tabbrowser-tabpanels,
#sidebar-box,
#sidebar,
#sidebar-splitter {
    background-color: transparent !important;
}

:root {
    --uc-content-margin-top: var(--uc-content-margin);
    --uc-content-margin-right: var(--uc-content-margin);
    --uc-content-margin-bottom: var(--uc-content-margin);
    --uc-content-margin-left: var(--uc-content-margin);

    &:not([inDOMFullscreen="true"], [chromehidden*="toolbar"], [chromehidden*="menubar"]) #appcontent {
        margin:
            var(--uc-content-margin-top)
            var(--uc-content-margin-right)
            var(--uc-content-margin-bottom)
            var(--uc-content-margin-left);
        & browser {
            border-radius: var(--uc-content-radius);
            clip-path: circle(100%);
            background-color: transparent !important;
        }
    }
}
