/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/* dev tools */
splitter.devtools-horizontal-splitter {
    opacity: 0 !important;
    min-height: var(--uc-content-margin) !important;
    margin: 0 !important;
    border: none !important;
}

.devtools-side-splitter {
    opacity: 0 !important;
    min-width: var(--uc-content-margin) !important;
    margin: 0 !important;
    border: none !important;
}

.devtools-toolbox-bottom-iframe {
    border-radius: var(--uc-radius) !important;
}

#main-window:has(
    .browserContainer > findbar:not([hidden])
) .devtools-toolbox-bottom-iframe {
    margin-top: 0px !important;
}

.devtools-toolbox-side-iframe {
    border-radius: var(--uc-radius) !important;
}

.browserContainer.responsive-mode {
    background-color: transparent !important;
}

.browserContainer.responsive-mode > .browserStack > browser {
    border: none !important;
    box-shadow: none !important;
}

.browserContainer.responsive-mode > .rdm-toolbar {
    border-radius: var(--uc-radius) !important;
}

/* screenshot tool */
#screenshotsPagePanel {
    screenshots-buttons {
        top: var(--user-panel-gap) !important;
        right: calc(var(--user-panel-gap)*2) !important;
        
        padding: var(--user-panel-gap) !important;
        border-radius: var(--user-radius) !important;
    }
    
    & .footer-button {
        margin-inline-start: var(--user-panel-gap) !important;
    }
}

#preview-image-container {
    padding: var(--user-panel-gap) !important;
    padding-top: 0px !important;
}

#preview-image {
    border-radius: var(--user-radius) !important;
}

.dialogBox[sizeto="available"] {
    border-radius: var(--user-radius) !important;
    margin: var(--user-panel-gap) !important;
}

/* findbar thingy */
.browserContainer > findbar {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;

    .findbar-textbox {
        border-radius: var(--uc-radius) !important;
    }
}

/* link thingy when hovering over url */
#statuspanel {
    & #statuspanel-label {
        border-radius: var(--uc-radius) !important;
        background-color: var(--uc-bg) !important;
        border: none !important;
    }
    
    bottom: 2px !important;
    &:not([mirror="true"]) { left: 2px !important; }
    &[mirror="true"] { right: 2px !important; }
}

/* menu that appears when alt is pressed */
#toolbar-menubar[autohide="true"]:not([inactive], [customizing]) {
    height: unset !important;
}

/* notification thingy (in navbar) */
#tab-notification-deck .notificationbox-stack {
    background-color: transparent !important;
}

/* private browser indicator */
#private-browsing-indicator-with-label {
    display: none !important;
}